name: dbt CI

on:
  pull_request:

jobs:
  dbt_ci:
    runs-on: [self-hosted, windows]
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dbt
        run: |
          python -m pip install --upgrade pip
          pip install dbt-core dbt-fabric

      - name: dbt deps
        run: dbt deps

      - name: dbt compile (silver_dev)
        run: dbt compile --target silver_dev

      - name: dbt run (silver_dev)
        run: dbt run --target silver_dev